*{
    margin:0;
    padding : 0;
    box-sizing:border-box;
    /* font-family: 'Poppins', sans-serif; */
}

 body{
    background-color:#DDE6ED ;
 }


#header{
   background-color:#DDE6ED ;
    display: flex;
    background-size: cover;
   
font-family: 'Ysabeau', sans-serif;
    
}

.container{
    padding: 10px 10%;;
}

.image{
    margin: 100px;
    box-shadow: 0 2rem 2rem -0.7rem #212629;
    border-radius: 50%;
    background-color: #27374D;
    
}

nav{
    margin: 15px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color:#DDE6ED ;

    color: #9DB2BF;
    border-radius: 40px;
}

nav img{
    border-radius: 40px;
    box-shadow: 0 1rem 1rem -0.5rem rgba(0, 0, 0, 0.4);

}

.logo{
    width:140px;

}

nav ul li{
    display: inline-block;
    list-style: none;
    margin:10px 20px;

}

nav ul li a{
    color: #27374D;
    text-decoration:none;
    font-size:24px;
    position: relative;
    font-family: 'Jost', sans-serif;

}


nav ul li a::after{
    content: '';
    width:0;
    height: 3px;
    background: #27374D;
    position: absolute;
    left:1px;
    bottom:-6px;
    transition: 0.5s;
    
}

nav ul li a:hover::after{
    width:100%;
    
}

.header-text{
    margin-top:20%;
    font-size:30px;
}

.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}

.header-text h1 span{
    color: #526D82;
}


#about{
    margin-bottom: 50px;
    padding: 80px 0;
    color: black;
    font-size: 20px;
    font-family: 'Jost', sans-serif;

}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

.about-col-1 {
    flex-basis: 35%;
    
}

.about-col-1 img{
    width:500px;
    height: 500px;
    border-radius: 15px;
    
}

.about-col-2{
    flex-basis: 60%;
}


.sub-title{
    text-align: center;
    font-size:60px;
    font-family: 'Jost', sans-serif;
    color: #27374D;
    margin-top: 50px;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
    
}

.tab-links{
    margin-right: 50px;
    font-size:18px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    
}

.tab-links::after{
    content: '';
    width:0;
    height: 3px;
    background: #9DB2BF;
    position: absolute;
    left:1px;
    bottom:-6px;
    transition: 0.5s;
    
}



.tab-links.active-link::after{
    width: 100%;
}

.tab-contents ul li {
    list-style: none;
    margin: 10px 0;
    
}

.tab-contents ul li span{
    color: #526D82;
    font-size: 14px;
}

.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}

/* 

html,body{
    
    display: flex;
    align-items: center;
    justify-content: center;
} */

main{
    /* width: 53%;
    height: 500px;
    margin: auto;
    box-shadow: 0px 1px 3px 0.4rem grey;
    position: relative; */
    display: flex;
    align-items: center;
    margin-top: 100px;
    justify-content: center;
    margin-bottom: 100px;
    gap:30px;
}

.slide{
    /* width: 60%; */
    /* height: 500px;
    position: absolute; */
    width:700px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2rem 9rem -0.7rem #212629;
    border-radius: 20px;
    /* transition: ease-in-out; */
    
    transition: transform 0.5s;
}

.project{
    overflow: hidden;
    position: relative;
}
#projects{

    margin:20px;
    text-align: center;
    font-size:30px;
    font-family: 'Jost', sans-serif;
    color: #27374D;

}


.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(0deg, #27374D, transparent);
    border-radius: 20px;
    position:absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    font-family: 'Jost', sans-serif;
    font-size: 24px;
    color: white;
    align-items: center;
    justify-content: center;
    transition: height 0.5s;
    
}

.project:hover .layer{
    height: 100%;
}

.project:hover img{
    transform: scale(1.1);
}

.layer p{
    /* justify-content:flex-end; */
    text-align: center;
}

.forward{
    /* font-size: xx-large; */
    
}

#forward{
    font-size: xx-large;
    
    border: none;
    background-color:#DDE6ED;
    background: transparent;
    
}

#backward{
    font-size: xx-large;
    
    border: none;
    background-color:#DDE6ED;
}


